<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- tb4 robot -->
    <xacro:include filename="$(find tb4_sim)/resource/tb4_raw.urdf" />

    <webots>
      
      <!-- Add scan config -->
      <device reference="rplidar">
        <ros>
          <topicName>/scan</topicName>
          <alwaysOn>true</alwaysOn>
          <updateRate>20</updateRate>
        </ros>
      </device>
      <device reference="rgb_camera" type="Camera">
        <ros>
          <topicName>/camera/image_raw</topicName>
          <cameraInfoTopicName>/camera/camera_info</cameraInfoTopicName>
          <alwaysOn>true</alwaysOn>
          <updateRate>15</updateRate>
          <frameName>oakd_rgb_camera_optical_frame</frameName>
        </ros>
      </device>
      <plugin type="webots_ros2_driver::Ros2IMU">
        <enabled>true</enabled>
        <updateRate>50</updateRate>
        <topicName>/imu</topicName>
        <alwaysOn>true</alwaysOn>
        <frameName>imu_link</frameName>
        <inertialUnitName>p3d inertial</inertialUnitName>
        <gyroName>p3d gyro</gyroName>
      </plugin>

      <plugin type="tb4_sim.cmd_vel_driver.CmdVelDriver">
        <cmdVelTopic>/cmd_vel</cmdVelTopic>
        <odomTopic>/odom</odomTopic>
        <leftMotor>left_wheel_joint</leftMotor>
        <rightMotor>right_wheel_joint</rightMotor>
        <wheelSeparation>0.25</wheelSeparation>
        <wheelRadius>0.036</wheelRadius>
        <maxWheelSpeed>20.0</maxWheelSpeed>
      </plugin>

    </webots>

</robot>
